.boclassic-transactionid p,
.boclassic-paymenttype p {
    line-height: 6px;
}

    .boclassic-transactionid p:first-child,
    .boclassic-paymenttype p:first-child {
        font-size: 12px;
        font-weight: 400;
        color: grey;
    }

    .boclassic-transactionid p:last-child,
    .boclassic-paymenttype p:last-child {
        font-weight: 600;
    }
.boclassic-paymenttype-img {
    float:right;
}
.boclassic-info-overview {
    font-weight: 600;
}

    .boclassic-info-overview p {
        display: inline-block;
        margin: 0;
    }

        .boclassic-info-overview p:last-child {
            float: right;
        }

.boclassic-action-container {
    background-color: #eaecf0;
    border: 1px solid #b9c4e2;
    padding: 15px 9px 0 9px;
    margin: 20px 0;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}

.boclassic-action {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}

    .boclassic-action p,
    .boclassic-action input,
    .boclassic-action a {
        display: inline-block;
    }

    .boclassic-action p {
        padding: 6px 0px;
        font-weight: 400;
        line-height: 0.9;
        color: #555;
        text-align: center;
        background-color: #eee;
        border: 1px solid #ccc;
        -ms-border-radius: 4px 0 0 4px;
        border-radius: 4px 0 0 4px;
        margin: 0;
        width: 20%;
    }

    .boclassic-action input {
        margin: 0;
    }

    .boclassic-action a {
        box-shadow: none !important;
        height: inherit !important;
        color: #ffffff !important;
    }

    .boclassic-action .capture,
    .boclassic-action .refund,
    .boclassic-action .delete {
        box-shadow: none !important;
        height: inherit !important;
        color: #ffffff !important;
    }

    .boclassic-action .capture {
        background-color: #5cb85c !important;
        border-color: #4cae4c;
        padding: 0;
        -ms-border-radius: 0 4px 4px 0 !important;
        border-radius: 0 4px 4px 0 !important;
        width: 34%;
        text-align: center;
        line-height: 24px;
    }

        .boclassic-action .capture:hover {
            background-color: #449d44 !important;
            border-color: #398439 !important;
        }

    .boclassic-action .delete {
        background-color: #d9534f !important;
        border-color: #d43f3a !important;
        -ms-border-radius: 4px !important;
        border-radius: 4px !important;
        float: right;
        margin: 0 0 10px 0;
        padding: 0;
        width: 34%;
        text-align: center;
    }

        .boclassic-action .delete:hover {
            background-color: #c9302c !important;
            border-color: #ac2925 !important;
        }

    .boclassic-action .refund {
        background-color: #f0ad4e !important;
        border-color: #eea236 !important;
        -ms-border-radius: 0 4px 4px 0 !important;
        border-radius: 0 4px 4px 0 !important;
        width: 34%;
        text-align: center;
        line-height: 24px;
    }

        .boclassic-action .refund:hover {
            background-color: #ec971f !important;
            border-color: #d58512 !important;
        }

.boclassic-amount {
    width: 45%;
}

.boclassic-table {
    width: 100%;
    border-collapse: collapse;
}

.boclassic-transaction-row-header {
    font-size: 11px;
    font-weight: 400;
    color: grey;
    line-height: 9px;
}

    .boclassic-transaction-row-header td {
        padding: 12px 10px 2px 10px;
    }

.boclassic-transaction-row-header-user td {
    padding-top: 4px;
}

.boclassic-transaction {
    border-bottom: 1px solid #C1C1C1;
    font-weight: 600;
    padding-bottom: 10px;
}

    .boclassic-transaction td {
        padding: 0 10px 7px 10px;
    }

#boclassic-format-error {
    display: none;
}

.boclassic-message {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.boclassic-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 5px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

.boclassic-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 5px;
    -ms-border-radius: 4px;
    border-radius: 4px;
}

#boclassic-admin-documentation {
    margin-right: 5px;
}

.boclassic-message {
    padding: 15px !important;
    margin-bottom: 20px !important;
}
