.epay-transactionid {
	margin: 0.5em 0 1em 0;
}

.epay-transactionid p:first-child {
	font-size: 12px;
	font-weight: 400;
	color: grey;
	margin: 0;
}

.epay-transactionid p:last-child {
	font-weight: 600;
	margin: 0;
}

.epay-paymenttype {
	margin: 0 0 1.2em 0;
}

.epay-paymenttype p:first-child {
	font-size: 12px;
	font-weight: 400;
	color: grey;
	margin: 0;
}

.epay-paymenttype-group {
	display: flex;
	align-items: center;
	margin: 0.2em 0 1em 0;
	font-weight: 600;
}

.epay-paymenttype-group img{
	height: 32px;
	margin-left: -3px;
	margin-right: 3px;
}

.epay-info-overview {
	font-weight: 600;
}

.epay-info-overview p {
	display: inline-block;
	margin: 0;
}

.epay-info-overview p:last-child {
	float: right;
}

.epay-table {
	width: 100%;
	border-collapse: collapse;
	border-top: 1px solid #C1C1C1;
}

.epay-transaction-date {
	font-size: 11px;
	font-weight: 400;
	color: grey;
	line-height: 9px;
}

.epay-transaction-date td {
	padding: 12px 10px 4px 10px;
}

.epay-transaction {
	border-bottom: 1px solid #C1C1C1;
	font-weight: 600;
	padding-bottom: 10px;
}

.epay-transaction td {
	padding: 0 10px 7px 10px;
}

.epay-header {
	margin: 2em 0 0.2em 0;
}

.epay-input-group {
	position: relative;
	display: table;
	border-collapse: separate;
	margin: 1em 0 0 0;
	width: 100%;
}

.epay-input-group-currency {
	border: 1px solid #C7D6DB;
	border-right: 0;
	border-radius: 3px 0 0 3px;
	display: table-cell;
	padding: 0 8px 0 8px;
	text-align: center;
	width: 1%;
}

.epay-input-group input {
	display: table-cell;
	border-radius: 0 3px 3px 0;
	margin: 0;
	width: 100%;
}

.epay-action {
	margin: 3px 3px 3px 0;
	display: inline-block;
}

.epay-action a {
	color: #ffffff !important;
}

.epay-action .capture {
	background-color: #72C279 !important;
	border-color: #72C279;
}

.epay-action .capture:hover {
	background-color: #4eb357 !important;
	border-color: #4eb357 !important;
}

.epay-action .credit {
	background-color: #fbbb22 !important;
	border-color: #fbbb22 !important;
}

.epay-action .credit:hover {
	background-color: #e6a304 !important;
	border-color: #e6a304 !important;
}

.epay-action .delete {
	background-color: #E08F95;
	border-color: #E08F95;
}

.epay-action .delete:hover {
	background-color: #d5676f;
	border-color: #d5676f;
}
